@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    font-family: "Host Grotesk", sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader {
    width: fit-content;
    font-size: 120px;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: conic-gradient(#000 0 0) text;
    animation: l8 2s linear infinite;
}

@media screen and (max-width: 991px) {
    .loader {
        font-size: 60px;
    }
}

.loader:before {
    content: "REALAR";
}
@keyframes l8 {
    0%,2%,8%,11%,15%,21%,30%,32%,35%,40%,46%,47%,53%,61%,70%,72%,77%,80%,86%   {background-size: 0    0   }
    1%,9%,10%,16%,20%,31%,34%,41%,45%,48%,52%,55%,60%,73%,76%,81%,85%,96%,100% {background-size: 100% 100%}
}

.truncate-to-1-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-to-2-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.up-down-animation {
    animation: upDown 4s linear infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(-35px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-35px);
    }
}

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate-border {
    0% {
        --border-angle: 0deg;
    }
    100% {
        --border-angle: 360deg;
    }
}

.scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px !important;
        height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: #000000;
        height: 5px !important;
    }
}

/* slider */

.slider-container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    cursor: grab;
}

.slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}

.slider.dragging {
    cursor: grabbing;
    scroll-behavior: auto; /* Disable smooth scrolling while dragging */
}

.slide {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
